@media screen and (max-width:900px){

      h1.hero-title {
        font-size: 26px;
      }
      .card-wrap {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
      }

}
@media screen and (max-width:768px) {
    .container {
        flex-direction: column;
      }
    .right img {
        width: 100%;
    }
    p.hero-text {
        font-size: 14px;
    }
    .counter h2 {
        font-size: 12px;
        padding: 0;
      }


    .card-wrap {
        grid-template-columns:1fr;
    }
    img.rat-icon {
        width: 30%;
        margin-right: 15px;
      }
    .best-seller {
        padding:0;
    }
    .card-thumb {
        height: 340px;
    }
    .tastimonial-wap {
        width: 70%;
    }
    .carosel::after {
        left: 20px;
    }
    .carosel::before {
        right:20px;
    }
    input.email {
        padding: 7px;
        width: 65%;
    }
}
@media screen and (max-width:568px) {
  body{
    width: 100%;
    overflow-x: hidden;
  }
  section {
    padding: 10px;
    margin: 30px 0;
  }
  img.portfolio-item {
    width: 50%;
  }
  .news-wrap {
    width: 80%;
    margin: 0 auto;
  }
  .athor-deatails h2 {
        font-size: 17px;
      }
      .athor-deatails p {
        color: #302f2f;
        font-size: 11px;
      }
      .card-thumb {
        height: 280px;
      }
      input.email {
        padding: 7px;
        width: 50%;
      }
      .fotter-nav h2 {
        font-size: 17px;
      }
      .fotter-nav li{
        font-size: 12px;
      }
      header, footer {
        padding: 10px;
      }
      .icon{
        font-size: 20px;
      }
      .footer-wrap {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-content: center;
    }
    .last{
      grid-column: 1/-1;
    }
}